

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

body {
    background-color: #230E3D;
}
/*header section*/
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand {
    font-weight: 600;
    font-size: 46px;
}
#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hb {
    display: none;
}
.menu {
    display: flex;
    gap: 32px;
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

/*hero section*/
.hero-section {
    background-image: url(Images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    padding-bottom: 101px;
}
.podcast-view {
    position: relative;
    width: fit-content;
    margin: 0px;
}
#circle {
    display: block;
}
#mic {
    position: absolute;
    top: 20%;
    left: 35%;
}
.new-btn {
    position: absolute;
    top: 10%;
    right: 10%;
}
.hero-content p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
}
.hero-content h3 {
    margin-bottom: 0px;
    margin-top: 40px;
}
.btn-transparent {
    background: transparent;
    font-weight: 600;
    font-size: 16;
    color: #00ff88;
    border: solid, #00ff88;
    border-radius: 30px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-btn{
    background: #00ff88;
    font-weight: 600;
    font-size: 18;
    color: black;
    border: none;
    border-radius: 30px;
    height: 36px;
    padding: 8px 16px 8px 16px;
}
.hero-button {
    display: flex;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-button {
    gap: 8px;
    margin-top: 24px;
}
/*shared style */
.font-bold {
    font-weight: 700;
    font-size: 48px;
    color: white;
}
.font-extrabold {
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.button-cta {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    font-size: 16;
    color: white;
    border: none;
    border-radius: 30px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}






@media screen and (max-width: 576px){
    .menu {
        display: none;
    }
    .navigation button {
        display: none;
    }
    .hb {
        display: block;
    }
    .brand {
        font-size: 30px;
    }
    .navigation {
        justify-content: space-between;
}
.hero-section {
    flex-direction: column;
    text-align: center;
}
#circle {
    width: 260px;
}
#mic {
    width: 85px;
}
.new-btn {
    top: 6%;
    right: 6%;
    font-size: 12px;
}
