

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

body {
    background-color: #230E3D;
}
/*header section*/
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand {
    font-weight: 600;
    font-size: 46px;
}
#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hb {
    display: none;
}
.menu {
    display: flex;
    gap: 32px;
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
}


/*shared style */
.font-bold {
    font-weight: 700;
    font-size: 48px;
    color: white;
}
.font-extrabold {
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.button-cta {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    font-size: 16;
    color: white;
    border: none;
    border-radius: 30px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}






@media screen and (max-width: 576px){
    .menu {
        display: none;
    }
    .navigation button {
        display: none;
    }
    .hb {
        display: block;
    }
    .brand {
        font-size: 30px;
    }
    .navigation {
        justify-content: space-between;
}