

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}
body {
    background-color: #1A0B2E;
}
/*header section*/
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}

.brand {
    font-weight: 600;
    font-size: 46px;
}
#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hb {
    display: none;
}
.menu {
    display: flex;
    gap: 32px;
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

/*hero section*/
.hero-section {
    background-image: url(Images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    padding-bottom: 101px;
}
.podcast-view {
    position: relative;
    width: fit-content;
    margin: 0px;
}
#circle {
    display: block;
}
#mic {
    position: absolute;
    top: 20%;
    left: 35%;
}
.new-btn {
    position: absolute;
    top: 10%;
    right: 10%;
}
.hero-content p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
}
.hero-content h3 {
    margin-bottom: 0px;
    margin-top: 40px;
}
.btn-transparent {
    background: transparent;
    font-weight: 600;
    font-size: 16;
    color: #00ff88;
    border: solid, #00ff88;
    border-radius: 30px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-btn{
    background: #00ff88;
    font-weight: 600;
    font-size: 18;
    color: black;
    border: none;
    border-radius: 30px;
    height: 36px;
    padding: 8px 16px 8px 16px;
}
.hero-button {
    display: flex;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-button {
    gap: 8px;
    margin-top: 24px;
}
/*about section*/

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;  
}
.about {
    background-color: #1A0B2E;
}
.stat h4 {
    color: #00ff88;
    margin-bottom: 0px;
}
.stat-items {
    display: flex;
    justify-content: space-around;
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*why choose section*/
.why-choose {
    padding: 120px 200px 120px 200px;
    background-color: #230E3D;
}
.why-choose h3 {
    text-align: center;
    margin-bottom: 40px;
}
.cadr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    gap: 30px;
}
.card-item image {
    height: 60px;
    width: 60px;
}
.card-item p {
    text-align: start;
}
.card-item h5 {
    text-align: start;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-item {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;

    
}

.one {
    grid-column: span 1;
    grid-row: span 2;
    
}
.two {
    grid-column: span 2;
    grid-row: span 1;
}
.three {
    grid-column: span 2;
    grid-row: span 1;
}
.four {
    grid-column: span 2;
    grid-row: span 1;
}
.five {
    grid-column: span 1;
    grid-row: span 1;
}
/*featured section*/
.featured {
    background-color: #1A0B2E;
}
.featured h3 {
    text-align: center;
    margin-top: 120px;
}


.featured-card {
    display: flex;
}
.time-frm img {
    height: 20px;
    width: 20px;
}
.time-frm p {
    font-weight: 300;
    font-size: 14;
    color: #00ff88;
}
.time-frm {
    color: #00ff88;
    display: flex;
    align-items: center;
    gap: 6px;
}
.card-cntnt{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    width: 380px;
}
.card-cntnt h5 {
    font-weight: 500;
    font-size: 20px;
}
.card-cntnt p {
    font-weight: 300;
    font-size: 12px;
}
.featured-card-item {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 380px;
    border-radius: 20px;
    background-color: #230E3D;
    border-radius: 30px;
}
.featured-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 40px 200px 120px 200px;  
}
/*meet host*/
.meet-host h3 {
    text-align: center;
}
.meet-host {
    margin: 120px 200px 120px 200px;
}
.host {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 280px;
    width: 1200px;
    background-color: #230E3D;
    border-radius: 30px;
}
.host-details {
    display: flex;
    flex-direction: column;
}
.host-details h5 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 0px;
}
.host-details p {
    font-weight: 300;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.s-icon {
    display: flex;
    gap: 8px;
}
.s-icon img {
    height: 30px;
    width: 30px;
    border: 1px solid #FB09B4;
    padding: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: contain;
    
}
/*footer*/
.footer {
    background-image: url(Images/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 412px;
}
.footer-icon {
    display: flex;
    gap: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-brand {
    margin-bottom: 0px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.social {
    display: flex;
    align-items: center;
    gap: 5px;
}
.social img {
    width: 20px;
    height: 20px;
}
.social p {
    font-weight: 300;
    font-size: 10px;
}
.footer-text {
    font-weight: 300;
    font-size: 10px;
}
/*shared style */
.font-bold {
    font-weight: 600;
    font-size: 48px;
    color: white;
}
.font-extrabold {
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.text {
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-align: center;
}
.card-h {
    font-weight: 600;
    font-size: 24px;
    color: white;
}
.button-cta {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    font-weight: 600;
    font-size: 16;
    color: white;
    border: none;
    border-radius: 30px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}






@media screen and (max-width: 576px){
    .menu {
        display: none;
    }
    .navigation button {
        display: none;
    }
    .hb {
        display: block;
    }
    .brand {
        font-size: 30px;
    }
    .navigation {
        justify-content: space-between;
}
.hero-section {
    flex-direction: column;
    text-align: center;
}
#circle {
    width: 260px;
}
#mic {
    width: 85px;
}
.new-btn {
    top: 6%;
    right: 6%;
    font-size: 12px;
}
.about-content {
    padding: 20px 20px;
    text-align: center;
    margin: 0px;
}
.about-content h3 {
    font-size: 30px;
}
.about-content p {
    font-size: 14px;
}
.stat-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.stat-items h4 {
    font-size: 40px;
}
.stat-items p {
    font-size: 14px;
}
.cadr {
    display: grid;
    grid-template-columns: repeat(1fr);
}
.card-item {
    grid-column: auto;
    grid-row: auto;
}
.featured-card {
    display: grid;
    grid-template-columns: 1fr;
}
.featured h3 {
    font-size: 32px;
    text-align: center;
}
.footer-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.host {
    display: grid;
    grid-template-columns: 1fr;
}
}